__pycache__
.env
venv
*.pyc
../model_save
*.pkl
*.log
*.pth
*.pt
*.ckpt
__pycache__/
data/**/*.pyc
data/*.pyc
data/__pycache__/
data/**/__pycache__/
train/__pycache__/
outputs/
data/__pycache__/*.pyc
data/**/__pycache__/*.pyc